.App {
	text-align: left;
}

.App-header {
	text-align: center;
	background-color: #222;
	padding: 20px;
	color: white;
}

.App-content {
	margin: auto;
	max-width: 980px;
	padding: 24px;
	font-size: large;
}

